.category-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100dvh;
  width: 100%;
}

.categories-go-back {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* From Uiverse.io by kamehame-ha */
.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  background-color: #8bc27a;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}
