.scan-container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  position: relative;
  background: #ffffff;
}

.scan-go-back {
  position: absolute;
  top: 15px;
  left: 15px;
}

.scan-title {
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

.scan-box {
  width: 85%;
  height: 55vh;
  background: #f3f3f5;
  border-radius: 20px;
  border: 1px solid #cccccc;
  overflow: hidden;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scan-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scan-btn {
  width: 85%;
  background: var(--primary);
  border: none;
  padding: 16px;
  border-radius: 16px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
  box-shadow: rgba(0,0,0,0.12) 0px 3px 8px;
}

.scan-btn:active {
  background: #7ab26a;
}
