.challenge-card-small {
  position: relative;
  min-width: 150px;
  width: 150px;
  background-color: var(--white);
  border-radius: 18px;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.02);
}

/* CONFIGURACIÓN IMAGEN PEQUEÑA */
.small-image {
  height: 110px;
  background-color: #e0e0e0;
  background-size: cover; /* Cubre todo el espacio */
  background-position: center;
  background-repeat: no-repeat;
}

.small-card-content {
  padding: 16px;
}

.small-card-content h3 {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.4;
  color: var(--text-dark);
}

.arrow-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.category-chip{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--primary-dark);
    border-radius: 50%;
    padding: 3px;
}