 .progress-bar-container {
        width: 100%;
        height: 10px;
        background-color: #adacaa;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .progress-bar {
        height: 100%;
        background-color: #8bc27a;
        border-radius: 5px;
        transition: width 0.8s ease;
    }